*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.App{
    min-height: 100vh;
    padding-bottom: 40px;
    
}

@media screen and (max-width:400px) {
    h4{
        font-size: 13px;
    }
}

